<!doctype html>
<html lang="en"> 

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <title>Home design</title>
</head>

<body class="">

  
  
<!-- hearder section start -->
<div class="container">
  
  <div class="container-fluid" style="background:url(img/bg1.jpg); height:100%; height:929px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
  
    <div class="row">
      <div class="views">views:<%= count %></div>
      <div class="col-md-3.p-5" style="padding-top: 20px;">
        <h1><strong>HOME DESIGN</strong></h1>
      </div>
    </div>
     <div class="row" style="height:30px;">
    </div> 

    <div class="row d-flex justify-content-end " >
      <div class=" col-md-3-1">
        
        <h1 style="padding-top: 300px;">
          <strong>Handcrafted<br> curtain &<br> design</strong></h1>
        <div class="p-3">
          <a href="#" class="btn btn-dark" id="accordion1" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">See More</a>
        </div>
        <div class="textlearn">
          <p id="flush-collapseOne" data-bs-parent="#accordion1" class="bg-white p-3 accordion-collapse collapse">Curtains are key to a beautifully finished room. Nothing compares to the class,<br>characterand style that a well designed set of curtains can add.</p>
        </div>
        </div>
    </div>
  </div>
  <!-- hearder section end -->
  
  <!-- services section start -->
  <div class="container-fluid pt-5 pb-5">
      <!-- <<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center;">
        <div class="col-md-4">
          <span style="background-color: #fff;">1.Select a drapery style</span>
        </div>
        <div class="col-md-4">
          <span style="background-color: #fff;"> 2.Customise</span>
        </div>
        <div class="col-md-4">
          <span style="background-color: #fff;"> 3.Hand Crafted & deleverd</span>
        </div>
      </div> -->
    <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital"><center>our services</center></h1><br><br><br>
         <div class="services_section2 layout_padding">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="img/icon-1.png"></div>
                  <h2 class="furnitures_text">Furnitures</h2>
                  <p class="dummy_text">ออกแบบม่านให้เข้ากับเฟอร์นิเจอร์ของคุณ</p>
                 </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="img/icon-2.png"></div>
                  <h2 class="furnitures_text">office</h2>
                  <p class="dummy_text">ออกแบบม่านให้เข้ากับออฟฟิศของคุณ</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="img/icon-3.png"></div>
                  <h2 class="furnitures_text">Home</h2>
                  <p class="dummy_text">ออกแบบม่านให้เข้ากับบ้านของคุณ</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="icon_1"><img src="img/icon-4.png"></div>
                  <h2 class="furnitures_text">Room</h2>
                  <p class="dummy_text">ออกแบบม่านให้เข้ากับห้องของคุณ</p> 
               </div>
            </div>
         </div>
      </div>
   </div>
  </div>
  <!-- services section end -->
  <br><br>


  <!-- image&อธิบายสั้นๆ section start -->
  <div class="container-fluid ">
    <div class="row d-flex justify-content-center">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 17rem;height:350px;background:url(img/card1.jpg);background-size: cover;border-top-left-radius: 35px;">
            <!-- <img src="" class="card-img-top" style="  border-top-left-radius: 25px;"> -->
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
            </div>
            <div class="card-footer">
              <p class="card-text" style="background:#fff;opacity:10;">NATURAL FABRICS, UNIQUE DESIGNS OUR OWN LINE OF BRAND PRODUCTS</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 17rem;height:350px;background:url(img/card2.jpg);background-size: cover;">
            <!-- <img src="" class="card-img-top" style="  border-top-left-radius: 25px;"> -->
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
            </div>
            <div class="card-footer">
              <p class="card-text" style="background:#fff;opacity:10;">HIGH QUALITY HAND CRAFTED PRODUCTS</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 17rem;height:350px;background:url(img/card3.jpg);background-size: cover;border-bottom-right-radius: 35px;">
            <!-- <img src="" class="card-img-top" style="  border-top-left-radius: 25px;"> -->
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
            </div>
            <div class="card-footer">
              <p class="card-text" style="background:#fff;opacity:10;">DESIGNER QUALITY PRODUCTS THAT INTERIOR DESIGNERS PREFER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- image&อธิบายสั้นๆ section end -->
  
  <br><hr><br>

  <!-- How to section start -->
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 pt-4">
        <h4><strong>How to Custom Design-A-Curtain</strong> </h4>
        <p>1.Select a drapery style<br>From a range of designs & fabrics for the perfect look</p>
         
        <p>2.Customise<br>Size, headers, linings Easily create something uniquely yours</p>
         
        <p>3.Hand Crafted & deleverd<br>We are passionate about creating beautiful windows. We will hand-craft your designer drapes!</p>
         
        <a href="#last-sec" class="btn btn-dark">GET STARTED</a>
      </div>
      <div class="col-md-3 pr-5">
        <img src="img/bd-sec3.jpg" height="350px" alt="">
      </div>
    </div>
  </div>
  <!-- How to section end -->

  <br><br><br><br>

  <!-- Our collection section start -->
  <div class="container-fluid">
   <h1 class="our_text">Our collection</h1>
    <div class="row d-flex justify-content-center pt-5">
      <div class="col-md-4"style="font-weight: 600; font-size: 24px; line-height: 29px;">
        <figure class="figure ">
          <img src="img/sec4-3.jpg" class="expand figure-img" height="450px" width="300" alt="">
          <figcaption class="figure-caption text-center" style="color: black;"> Bath room </figcaption>
        </figure>
      </div>
      <div class="col-md-4 "style="font-weight: 600; font-size: 24px; line-height: 29px;">
        <figure class="figure">
          <img src="img/sec4-2.jpg" class="figure-img expand" height="450px" alt="">
          <figcaption class="figure-caption text-center" style="color: black;">Living </figcaption>
        </figure>
      </div>
      <div class="col-md-4" style="font-weight: 600; font-size: 24px; line-height: 29px;" >
        <figure class="figure">
          <img src="img/sec4-1.jpg" class="figure-img expand" height="450px"  alt="">
          <figcaption class="figure-caption text-center" style="color: black;">Bedroom </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <!-- Our collection section end -->
  

 
  <br><br>


    <!-- <div class="container-fluid" id="last-sec">
    <div class="row d-flex justify-content-center pt-5">
      <div class="col-md-1">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
      </div>
      <div class="col-md-1">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
        <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">

          </div>
          <div class="col-md-4">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
          </div>
          <div class="col-md-4">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
            <img src="https://via.placeholder.com/70x70?text=+ " class="rounded-circle pt-1" alt="">
          </div>
        </div> -->

   <!-- last-sec section start -->
   <div class="footer_section layout_padding" id="last-sec">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6" style="padding-top: 30px;">
               <div class="fooer_logo"><img src="img/footer-logo.png"></div>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-top: 30px;">
              <h1 class="customer_text">HOME DESIGN family</h1>
              <p class="footer_lorem_text">Some clubs are for the select 
               few, but HOME DESIGN Family is for 
               everyone. Become a Family 
               member and enjoy rewards, 
               discounts, inspirations and a 
               few surprises all year round.
              </p>
              <a href="https://www.facebook.com/" class="btn btn-dark">Join for free</a>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-top: 30px;">
               <h1 class="customer_text">PRODUCT</h1>
               <h3></h3><p class="footer_lorem_text1">
                  ผ้าม่าน<br>
                  วอลเปเปอร์<br>
                  รางม่าน<br>
                  ฉากกั้นห้อง<br>
                  มู่ลี่
               </p><h3>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-top: 30px; ">
               <h1 class="customer_text">CONTACT US</h1>
               <h3></h3><p class="footer_lorem_text"> TEL: 012-345-6789 <br>MAIL: homedesign@mail.com
               </p></h3>
            </div>
         </div>
         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
               <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
         </div>
      </div>
   </div>
   <!--  last-sec section end -->

   <!-- icon section start -->
   <div class="copyright_section">
   <div class="container">
      <div class="social_icon">
         <ul>
            <li><a href="https://www.facebook.com/"><img src="img/fb-icon.png"></a></li>
            <li><a href="https://www.twitter.com/"><img src="img/twitter-icon.png"></a></li>
            <li><a href="https://www.instagram.com/"><img src="img/instagram-icon.png"></a></li>
         </ul>
      </div>
   </div>
  </div>
  <!-- icon section end --> 

  

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

     

</div>


    
</body>

</html>